#form {
 padding: 5px;
 margin: 10px;
 flex: auto;
 max-width: fit-content;
 border: 1px black solid;
}

input {
    margin: 5px;
}

button {
      display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
    
}